/*
Monokai style - ported by Luigi Maselli - http://grigio.org
*/
.hljs {
  background: #3e3e3e !important;
  color: #dddddd;
  padding: 30px !important;
  font-family: var(--font-spacey);
  letter-spacing: 1px;
}
.hljs-tag {
  color: white;
}
.hljs-params {
  color: #9466ff;
}
.hljs-selector-tag,
.hljs-literal,
.hljs-strong,
.hljs-name {
  color: #ffc400;
}
.hljs-code,
.hljs-keyword {
  color: #f2689f;
}
.hljs-attr,
.hljs-attribute,
.hljs-symbol,
.hljs-regexp,
.hljs-link {
  color: #33f5db;
}
.hljs-string,
.hljs-bullet,
.hljs-subst,
.hljs-title,
.hljs-section,
.hljs-emphasis,
.hljs-type,
.hljs-built_in,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-addition,
.hljs-variable,
.hljs-template-tag,
.hljs-template-variable {
  color: var(--lemon);
}
.hljs-title.class_,
.hljs-class .hljs-title {
  color: #c1a2ff;
}
.hljs-comment,
.hljs-quote,
.hljs-deletion,
.hljs-meta {
  color: #717171;
}
.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-doctag,
.hljs-title,
.hljs-section,
.hljs-type,
.hljs-selector-id {
  font-weight: bold;
}
